<table class="table table-striped">
    <tbody>
    {{#activities}}
        <tr>
            <td>
                <strong>{{activity_type}} on {{formatDate date_created "M/D"}}</strong>
                <br />
                {{{formatRich comment}}}
            </td>
        </tr>
    {{/activities}}
    </tbody>
</table>
