<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Simple CRM - Web</title>
    <meta name="description" content="description">
    <meta name="author" content="Evgeniya">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bower:css-->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/plugins/bootstrapvalidator/dist/css/bootstrapValidator.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" />
    <!-- endbower-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/custom.css" rel="stylesheet">
    <script src="/plugins/modernizr/modernizr.js"></script>
    <script src="/plugins/jquery/dist/jquery.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- [if lt IE 9]><script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script><script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script><![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse home-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed" style="color:white;">
                    <span class="sr-only">
                        <Toggle>navigation</Toggle>
                    </span>
                    <!--<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>-->
                    Sign In
                </button><a href="/" class="navbar-brand">Simple CRM</a></div>
            <div id="navbar" class="navbar-collapse collapse">
                <form action="/users/login" method="POST" class="navbar-form navbar-right">
					<a role="button" class="btn btn-facebook" href="/auth/facebook">
						<img src="/images/glyphicons-social-facebook.png" height="25" width="25"> Log In
					</a>
                    <a href="/users/register" class="btn btn-success">Sign Up &raquo;</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid page-content">
        {{#messages.info}}
            <div class="alert alert-info">{{{this}}}</div>
        {{/messages.info}}
        {{{body}}}
    </div>
    <footer>
        <p>&copy; Simple CRM 2015</p>
    </footer>
    <script src="/javascripts/user.js"></script>
    <script src="/javascripts/scripts.js"></script>
</body>

</html>
