<h2>We appreciate your feedback!</h2>
<br />
<form action="/home/feedback" method="POST">
    <label>Subject:</label> 
    <br />
    <input type="text" name="title" required>
    <div class="help-block with-errors"></div>
    <br />
    <label>Message:</label> 
    <br />
    <textarea name="message" cols="50" rows="8" required></textarea>
    <div class="help-block with-errors"></div>
    <br />
    <button class="btn btn-primary btn-label-left" type="submit">Send</button>
</form>