doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    | 
    title DevOOPS
    | 
    meta(name='description', content='description')
    | 
    meta(name='author', content='Evgeniya')
    | 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | 
    link(href='/plugins/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    | 
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    | 
    link(href='/stylesheets/style.css', rel='stylesheet')
    | 
    script(src='/plugins/modernizr/modernizr.js')
    | 
    script(src='/plugins/jquery/dist/jquery.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    <!-- [if lt IE 9]>
    script(src='http://getbootstrap.com/docs-assets/js/html5shiv.js')
    script(src='http://getbootstrap.com/docs-assets/js/respond.min.js')
    <![endif]-->
  body
    .container-fluid
      block content
    script(src='/plugins/bootstrap/dist/js/bootstrap.js')
    script(src='/plugins/bootstrapvalidator/dist/js/bootstrapValidator.js')
    script(src='/plugins/d3/d3.js')
    script(src='/plugins/datatables/media/js/jquery.dataTables.js')
    script(src='/plugins/jquery-knob/js/jquery.knob.js')
    script(src='/plugins/select2/select2.js')
    script(src='/plugins/tinymce/tinymce.min.js')
    script(src='/plugins/jquery-ui/jquery-ui.js')
    script(src='/plugins/flot/jquery.flot.js')
    script(src='/plugins/moment/moment.js')
    script(src='/plugins/fullcalendar/dist/fullcalendar.js')
    script(src='/plugins/raphael/raphael.js')
    script(src='/plugins/morris/morris.js')
    script(src='/plugins/jquery.tinymce/jscripts/tiny_mce/tiny_mce.js')
    script(src='/plugins/jquery.tinymce/jscripts/tiny_mce/jquery.tinymce.js')
    script(src='/plugins/bower-xcharts/xcharts.js')
    script(src='/plugins/Justified-Gallery/dist/js/jquery.justifiedGallery.js')
    script(src='/plugins/knockout/dist/knockout.js')
    script(src='/plugins/jquery.cookie/jquery.cookie.js')
    script(src='/javascripts/md5.min.js')
    script(src='/javascripts/data.js')
    script(src='/javascripts/devoops.js')
    script(src='/javascripts/user.js')
    script(src='/javascripts/scripts.js')
