doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title DevOOPS
    meta(name='description', content='description')
    meta(name='author', content='DevOOPS')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // bower:css
    link(rel='stylesheet', href='plugins/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='plugins/bootstrapvalidator/dist/css/bootstrapValidator.css')
    link(rel='stylesheet', href='plugins/datatables/media/css/jquery.dataTables.css')
    link(rel='stylesheet', href='plugins/select2/select2.css')
    link(rel='stylesheet', href='plugins/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet', href='plugins/morris/morris.css')
    link(rel='stylesheet', href='plugins/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='plugins/Justified-Gallery/dist/css/justifiedGallery.css')
    // endbower
    link(href='stylesheets/jquery-ui.min.css', rel='stylesheet')
    | 
    link(href='http://fonts.googleapis.com/css?family=Righteous', rel='stylesheet', type='text/css')
    | 
    link(href='plugins/fancybox/source/jquery.fancybox.css', rel='stylesheet')
    | 
    link(href='plugins/bower-xcharts/xcharts.min.css', rel='stylesheet')
    | 
    link(href='plugins/select2/select2.css', rel='stylesheet')
    | 
    link(href='stylesheets/style.css', rel='stylesheet')
    | 
    script(src='plugins/modernizr/modernizr.js')
    | 
    script(src='plugins/jquery/dist/jquery.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    <!-- [if lt IE 9]>
    script(src='http://getbootstrap.com/docs-assets/js/html5shiv.js')
    script(src='http://getbootstrap.com/docs-assets/js/respond.min.js')
    <![endif]-->
  body
    // Start Header
    link(href='plugins/select2/select2.css', rel='stylesheet')
    #screensaver
      canvas#canvas
      | 
      i#screen_unlock.fa.fa-lock
    #modalbox
      .devoops-modal
        .devoops-modal-header
          .modal-header-name
            span Basic table
          | 
          .box-icons
            a.close-link
              i.fa.fa-times
        | 
        .devoops-modal-inner
        | 
        .devoops-modal-bottom
    header.navbar
      .container-fluid.expanded-panel
        .row
          #logo.col-xs-12.col-sm-2
            a(href='index.html') DevOOPS
          | 
          #top-panel.col-xs-12.col-sm-10
            .row
              .col-xs-8.col-sm-4
                a.show-sidebar(href='#')
                  i.fa.fa-bars
                | 
                #search
                  input(type='text', placeholder='search')
                  | 
                  i.fa.fa-search
              | 
              .col-xs-4.col-sm-8.top-panel-right
                ul.nav.navbar-nav.pull-right.panel-menu
                  li.hidden-xs
                    a.modal-link(href='index.html')
                      i.fa.fa-bell
                      | 
                      span.badge.alert-badge
                  | 
                  li.hidden-xs
                    a.ajax-link(href='ajax/calendar.html')
                      i.fa.fa-calendar
                      | 
                      span.badge.reminder-badge
                  | 
                  li.dropdown
                    a.dropdown-toggle.account(href='#', data-toggle='dropdown')
                      .avatar
                      | 
                      i.fa.fa-angle-down.pull-right
                      | 
                      .user-mini.pull-right
                        span.welcome Welcome,
                        | 
                        span.display-name
                    | 
                    ul.dropdown-menu
                      li
                        a.ajax-link(href='ajax/profile.html')
                          i.fa.fa-user
                          | 
                          span Profile
                      | 
                      li
                        a.ajax-link(href='ajax/page_messages.html')
                          i.fa.fa-envelope
                          | 
                          span Messages
                      | 
                      li
                        a.ajax-link(href='ajax/gallery_simple.html')
                          i.fa.fa-picture-o
                          | 
                          span Albums
                      | 
                      li
                        a.ajax-link(href='ajax/calendar.html')
                          i.fa.fa-tasks
                          | 
                          span Tasks
                      | 
                      li
                        a(href='#')
                          i.fa.fa-cog
                          | 
                          span Settings
                      | 
                      li
                        a#logout(href='/users/logout')
                          i.fa.fa-power-off
                          | 
                          span Logout
    // End Header
    // Start Container
    #main.container-fluid
      .row
        #sidebar-left.col-xs-2.col-sm-2
          ul.nav.main-menu
            li
              a.active.ajax-link(href='ajax/dashboard.html')
                i.fa.fa-dashboard
                | 
                span.hidden-xs Dashboard
            | 
            li
              a.active.new-client-link(href='#')
                i.fa.fa-user
                | 
                span.hidden-xs New Client
        // Start Content
        #content.col-xs-12.col-sm-10
          .preloader.hide
            img.devoops-getdata(src='images/devoops_getdata.gif', alt='preloader')
          block content
        // End Content
    // End Container
    // bower:js
    script(src='plugins/bootstrap/dist/js/bootstrap.js')
    |     
    script(src='plugins/bootstrapvalidator/dist/js/bootstrapValidator.js')
    |     
    script(src='plugins/d3/d3.js')
    |     
    script(src='plugins/datatables/media/js/jquery.dataTables.js')
    |     
    script(src='plugins/jquery-knob/js/jquery.knob.js')
    |     
    script(src='plugins/select2/select2.js')
    |     
    script(src='plugins/tinymce/tinymce.min.js')
    |     
    script(src='plugins/jquery-ui/jquery-ui.js')
    |     
    script(src='plugins/flot/jquery.flot.js')
    |     
    script(src='plugins/moment/moment.js')
    |     
    script(src='plugins/fullcalendar/dist/fullcalendar.js')
    |     
    script(src='plugins/raphael/raphael.js')
    |     
    script(src='plugins/morris/morris.js')
    |     
    script(src='plugins/jquery.tinymce/jscripts/tiny_mce/tiny_mce.js')
    |     
    script(src='plugins/jquery.tinymce/jscripts/tiny_mce/jquery.tinymce.js')
    |     
    script(src='plugins/bower-xcharts/xcharts.js')
    |     
    script(src='plugins/Justified-Gallery/dist/js/jquery.justifiedGallery.js')
    |     
    script(src='plugins/knockout/dist/knockout.js')
    |     
    script(src='plugins/jquery.cookie/jquery.cookie.js')
    |     
    script(src='plugins/mustache/mustache.js')
    // endbower
    // All functions for this theme + document.ready processing
    script(type='text/javascript', src='plugins/fancybox/source/jquery.fancybox.css')
    script(src='javascripts/md5.min.js')
    script(src='javascripts/data.js')
    script(src='javascripts/devoops.js')
    script(src='javascripts/user.js')
    script(src='javascripts/activity.js')
    script(src='javascripts/client.js')
    script(src='javascripts/scripts.js')
    script(type='text/javascript').
      /*var _logout = function() {
      User.logout();
        };
      User.authenticate(function(res) {
        if(res) {
        console.log("successfully authenticated");
        } else {
          console.log("error authenticating");
          window.location = "/users/login";
        }
        });
        var newClient = function() {
        Client.activeId = null;
        LoadAjaxContent('ajax/client_form.html');
        };
        $(function() {
        $(".new-client-link").on("click", function(e) {
          e.preventDefault();
          newClient();
          return false;
        });
        });*/
