<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>DevOOPS</title>
		<meta name="description" content="description">
		<meta name="author" content="Evgeniya">
		<meta name="keyword" content="keywords">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../plugins/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="../stylesheets/style.css" rel="stylesheet">
		
		<script src="../plugins/jquery/dist/jquery.js"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
		
	</head>
<body>
<div class="container-fluid">
	<%- yield %>
</div>
<!-- bower:js -->
<script src="../plugins/bootstrap/dist/js/bootstrap.js"></script>
<script src="../plugins/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
<script src="../plugins/d3/d3.js"></script>
<script src="../plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="../plugins/jquery-knob/js/jquery.knob.js"></script>
<script src="../plugins/select2/select2.js"></script>
<script src="../plugins/tinymce/tinymce.min.js"></script>
<script src="../plugins/jquery-ui/jquery-ui.js"></script>
<script src="../plugins/flot/jquery.flot.js"></script>
<script src="../plugins/moment/moment.js"></script>
<script src="../plugins/fullcalendar/dist/fullcalendar.js"></script>
<script src="../plugins/raphael/raphael.js"></script>
<script src="../plugins/morris/morris.js"></script>
<script src="../plugins/jquery.tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script src="../plugins/jquery.tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
<script src="../plugins/bower-xcharts/xcharts.js"></script>
<script src="../plugins/Justified-Gallery/dist/js/jquery.justifiedGallery.js"></script>
<script src="../plugins/knockout/dist/knockout.js"></script>
<script src="../plugins/jquery.cookie/jquery.cookie.js"></script>
<!-- endbower -->
<script src="../javascripts/devoops.js"></script>
<script src="../javascripts/scripts.js"></script>
</body>
</html>
