<div class="landing-page">
    <div class="jumbotron">
        <div class="container">
            <h1>Simple CRM</h1>
            <p>The easiest way to organize your clients and never again let another lead get away.</p>
            <p><a href="/about" role="button" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box-content">
                    <h2>Easy</h2>
                    <p>Just tell us how often you want to keep in touch with your clients and we'll do the rest.</p><a href="/about" class="btn btn-primary">Learn More &raquo;</a></div>
            </div>
            <div class="col-md-4">
                <div class="box-content">
                    <h2>Everywhere</h2>
                    <p>On your computer, tablet, or phone, we're wherever you need us to be--no additional charge.</p><a href="/about" class="btn btn-primary">Learn More &raquo;</a></div>
            </div>
            <div class="col-md-4">
                <div class="box-content">
                    <h2>Reliable</h2>
                    <p>Add as many clients as you want to our system. You won't be limited charged more--it just works!</p><a href="/about" class="btn btn-primary">Learn More &raquo;</a></div>
            </div>
        </div>
    </div>
</div>
