<div id="page-login" class="row"></div>
<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="box">
        <form id="login-form" action="/users/login" method="POST" class="box-content">
            <div class="text-center">
                <h3 class="page-header">Simple-CRM</h3>
            </div>
            {{#if messages.error}}
                <div class="alert alert-danger">Invalid username or password.</div>
            {{/if}}
            <a role="button" class="btn btn-facebook" href="/auth/facebook">
                <img src="/images/glyphicons-social-facebook.png" height="25" width="25"> Log In
            </a>
            <a href="/users/register" class="btn btn-success">Sign Up &raquo;</a>
        </form>
    </div>
</div>
<script type="text/javascript">
    var _login = function() {
        User.login($("#username").val(), $("#password").val());
        return false;
    };
</script>
