<h2>{{user.display_name}}
    <a href="/users/{{user._id}}/update"><i class="fa fa-pencil"></i></a>
</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div><label>Email: </label> {{user.email}}</div>
            </div>
        </div>
    </div>
</div>
